body{
    width: 1000px;
    height : 950px;

}
#form{
    height: 150px;
    width: 300px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: solid black;
}
.img1{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50px;
    left: 5px;
}
#j{
    background-color: rgb(218,218,27);
    position: absolute;
    height: 250px;
    width: 325px;
    top : 50px;
    left: 500px;
}
.j1{
    position: absolute;
    left: 175px;
    top: 50px;
    font-weight: bolder;
    font-size: 25px;
}
.j2{
    position: absolute;
    left: 175px;
    top: 100px;
}
